.mf-form {
    width: calc(100%);
}

.mf-question {
    border: 1px solid rgb(27, 48, 87);
    margin-bottom: 1rem;
    border-radius: 5px;
}

.footnote {
    font-size: 10pt;
    margin: 0.5rem 0.25rem;
    color: rgb(42, 42, 116);
}

.mf-caption {
    width: 100%;
}

label.caption {
    display: block;
    width: calc(100% - 0.25rem);
    padding: 0.5rem 0 0.5rem 0.25rem;
    margin: 0;
    background-color: rgb(27, 48, 87);
    color: rgb(147, 215, 241);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.errorMessage {
    margin-top: 0.25rem;
    background-color: rgb(156, 42, 42);
    color: white;
    width: calc(100% - 1.4rem);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.mf-control {
    padding: 0.25rem 0 0.25rem 0.25rem;
}

.buttons {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.btn {
    padding: 0.55rem 1rem;
    background-color: rgb(42, 42, 116);
    border:  rgb(42, 42, 116);
    border-radius: 5px;
    color: white;
}

.btn-next {
    width: 85%;
    margin-left: 1rem;
}

.btn-error {
    opacity: 0.8;
    color: white;
    background-color: gray;
}