.mf-form {
    width: calc(100%);
}

.mf-question {
    border: 1px solid cornflowerblue;
    margin-bottom: 1rem;
}

.mf-caption {
    width: 100%;
}

label.caption {
    display: block;
    width: calc(100% - 0.25rem);
    padding: 0.5rem 0 0.5rem 0.25rem;
    margin: 0;
    background-color: cornflowerblue;
    color: rgb(0.6, 0.6, 0.9);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.mf-control {
    padding: 0.25rem 0 0.25rem 0.25rem;
}

.buttons {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.btn {
    padding: 0.55rem 1rem;
    background-color: cornflowerblue;
    border: cornflowerblue;
    border-radius: 5px;
    color: white;
}

.btn-next {
    width: 85%;
    margin-left: 1rem;
}

.btn-error {
    opacity: 0.8;
    color: red;
}