.date {
    display: grid;
    padding-right: 0.25rem;
    grid-template-columns: 2rem 2rem 3rem;
    column-gap: 0.25rem;
}

.shortdate {
    display: grid;
    padding-right: 0.25rem;
    column-gap: 0.25rem;
    grid-template-columns: 10rem 3rem;
}

 .dd, .mm {
     width: calc(3em - 0.5em);
     flex: 1;
 }
 .month {
     width: 45%;
 }
 .yy {
     width: 45%;
 }

 .mf-control-item {
    padding: 0.25rem;
}

.separator {
    margin: 0 0.25rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}