<div *ngIf="loaded && hasOptions">
    <ng-container [ngSwitch]="optionType">
        <ng-container *ngSwitchCase="'single'">
            <ng-container *ngIf="expandOptions; else dropdown">
                <div class="mf-options" [ngClass]="{'opt-horiz': isHorizontal, 'opt-vert': isVertical, 'error': inError }">
                    <button type="button" *ngFor="let o of options" class="mf-option-item" [ngClass]="{'opt-selected': isSelected(o.code)}" (click)="selectItem(o.code)">{{o.description}}</button>
                </div>
            </ng-container>
            <ng-template #dropdown>
                <select class="mf-option-select" [ngClass]="{'error': inError }" (change)="onChange($event.target.value)">
                    <option *ngFor="let o of options" class="mf-option-select-item" [ngClass]="{'opt-selected': isSelected(o.code)}">{{o.description}}</option>
                </select>
            </ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="'multi'">
            <app-mf-option-multi [form]="form" [control]="control" 
            (changeValidity)="onControlValidityChange($event)"
            (optionLoadComplete)="multiOptionLoadComplete($event)"></app-mf-option-multi>
        </ng-container>
    </ng-container>
</div>