<form [ngClass]="{ 'error': inError }" [formGroup]="formGroup">
    <div class="time">
        <select class="mfc hh" [ngClass]="{ 'error': inError }" formControlName="hh" class="mf-control-item" (blur)="onFocusLost()">
            <option *ngFor="let h of hourList; let i=index" value="{{h}}">{{h}}</option>
        </select>
        <span class="separator">:</span>
        <select class="min" [ngClass]="{ 'error': inError }" formControlName="min" class="mf-control-item" (blur)="onFocusLost()">
            <option *ngFor="let m of minuteList; let i=index" value="{{m}}">{{m}}</option>
        </select>
    </div>
</form>