/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

*, input, select, option, optgroup {
    font-family: 'Raleway', 'Sans-Serif' ;
}

body {
    max-height: 100vh;
}

.animate-popin {
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: ease-in;
}

.btn {
    padding: 0.55rem 1.5rem;
    margin: 0 0.1rem;
    background-color: rgb(109, 109, 212);
    border:  rgb(42, 42, 116);
    border-radius: 5px;
    color: white;
}

.btn-save {
    background-color: rgb(52, 95, 52);
}

.btn-cancel {
    background-color: rgb(109, 12, 12);
}

.disabled {
    background-color: gray;
}
