/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

*, input, select, option, optgroup {
    font-family: 'Raleway', 'Sans-Serif' ;
}

body {
    max-height: 100vh;
}

.animate-popin {
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: ease-in;
}

