.body {
    display: flex;
    flex-direction: row;
}

nav {
    min-width: 20em;
}

nav > ul {
    list-style: none;
    padding-left: 0;
}
nav > ul > li{
    padding: 0.25rem 1rem;
}
nav > ul > li > a {
    width: 100%;
    text-decoration: none;
    padding: 0.25rem 1rem;   
}
nav > ul > li > a:hover {
    background-color: blue;
    color: white;
}