.header {
  grid-area: header;
  background-color: rgb(153, 153, 226);
}
.question {
  grid-area: question;
  align-self: stretch;
  padding: 0 0.25rem;
}
.form {
  grid-area: form;
}
.control {
  grid-area: control;
}
.footer {
  grid-area: footer;
  background-color: rgb(153, 153, 226);
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-gap: 0.25rem;;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2rem auto 1rem;
    grid-template-areas: 
        "header header header"
        "form question control"
        "footer footer footer";
}

.formDetails {
    margin: 1rem 0;
}

.question-edit-buttons {
    display: flex;
    flex-flow: row-reverse;
    margin-bottom: 0.5rem;
}